body {
    font-family: 'Cairo', sans-serif;;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container h2{
    font-size: 50px;
}
.container span {
    font-size: 80px;
    padding-bottom: 25px;
}
.container button {
    margin-right: 25px;
    padding: 15px;
    background-color: rgb(121, 118, 118);
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .container .btn-holder {
        display: flex;
    }
    .container button {
        padding: 5px 8px;
        /* background-color: rgb(121, 118, 118); */
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
}
